.board{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.white{
    background-color: #f7d281;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: brown;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieces{
    width: 30px;
    height: 30px;
   
}

.bigPieces{
    width: 50px;
    height: 50px;
}

.active{
    border: yellow 5px solid;
    width: auto;
    height: 70px;
}